{% extends 'base.html' %}

{% block frame %}
{% load static %}
{% load socialaccount %}
{% load account %}
	<header>
		{% if user.is_authenticated %}
		<span class="avatar"><img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="user_icon" /></span>
		<h1>{% user_display user %}</h1>
		{% else %}
		<span class="avatar"><img src="{% static "logo.png" %}" alt="user_icon" /></span>
		<h1>Thanks for the feedback</h1>
		<p>Choose your login method</p>
		<a href="{% provider_login_url 'github' %}">github</a>
		<a href="{% provider_login_url 'google' %}">google</a>
		{% endif %}
	</header>

	{% if user.is_authenticated %}
    {% block content %}
    {% endblock %}
	{% endif %}


	<footer>
		<ul class="icons">
			{% if user.is_authenticated %}
			<li><a href="{% url 'account_logout' %}" class="fa-sign-out">Logout</a></li>
			{% else %}
			<li><a href="{% provider_login_url 'github' %}" class="fa-github">Sign Up with github</a></li>
			<li><a href="{% provider_login_url 'google' %}" class="fa-google">Sign Up with google</a></li>
			{% endif %}
		</ul>
	</footer>
{% endblock %}
