{% extends 'base.html' %}

{% block frame %}
{% load static %}
{% load socialaccount %}
{% load account %}
	<header>
		{% if user.is_authenticated %}
		<span class="avatar"><img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="user_icon" /></span>
		<h1>{% user_display user %}</h1>
		{% else %}
		<span class="avatar"><img src="{% static "logo_margin.png" %}" alt="site_logo" /></span>
		<h1>Thanks for the feedback</h1>
    <p>A free & open source web service to gather anonymous feedback</p>
		<p>login</p>
		{% endif %}
	</header>

	{% if user.is_authenticated %}
    {% block content %}
    {% endblock %}
	{% endif %}


	<footer>
		<ul class="icons">
			{% if not user.is_authenticated %}
			<li class="tooltip"><a href="{% provider_login_url 'github' %}" class="fa-github">Sign Up with github</a><span class="tooltiptext">Github</span></li>
			<li class="tooltip"><a href="{% provider_login_url 'linkedin_oauth2' %}" class="fa-linkedin">Sign Up with linkedin</a><span class="tooltiptext">Linkedin</span></li>
			<li class="tooltip"><a href="{% provider_login_url 'google' %}" class="fa-google">Sign Up with google</a><span class="tooltiptext">Google</span></li>
			<li class="tooltip"><a href="{% provider_login_url 'weibo' %}" class="fa-weibo">Sign Up with weibo</a><span class="tooltiptext">Weibo</span></li>
			{% endif %}
		</ul>
	</footer>
{% endblock %}
