{% extends 'account_frame.html' %}

{% block content %}

  <hr />

  <h1>Contribute</h1>
	<p> If you liked the project and want to contribute, thank you a lot.<br/>
	it will help to pay the server and development cost.</p>

	<h2>Development</h2>
	<a href="https://bitbucket.org/lerignoux/thanks-for-the-feedback" target="_blank"><i class="fab fa-bitbucket"></i>Bitbucket Project</a>

	<br/>
	<br/>

	<h2>Costs</h2>
	<a href="https://paypal.me/lerignoux" target="_blank"><i class="fab fa-paypal"></i>Paypal.me</a></br>
	<a href="https://etherscan.io/address/0x7cb1d8a1dbac2d93d79635a3d229c0bd5deca1e7" target="_blank"><i class="fab fa-ethereum"></i>Etherum wallet</a>

  <hr />

  <a href="{% url 'feedbacks' %}">
    <button>back home</button>
  </a>
  <br/>
  <br/>

{% endblock %}
