{% extends 'account_frame.html' %}

{% block content %}
	{% block menu %}
		{% include "menu.html" with current="feedbacks" campaign="true" %}
	{% endblock %}

	<div class="feedbacks">
	{% for feedback in feedbacks %}

		<div class="feedback">
		  <p class="text-wrap">{{feedback.feedback}}</p>
		  <div onclick="deleteFeedback({{feedback.id}})" class="delete"><i class="fa fa-trash-alt"></i></div>
		</div>
    <hr/>

	  {% empty %}
	    <p>
	      You don't have any feedback yet.<br/>
	      configure and share a campaign link from your <a class="text-link" href="{% url 'home' %}">campaign settings</a> to gather some.
	    </p>
    <br/>
	{% endfor %}
	</div>
{% endblock %}
