{% extends 'account_frame.html' %}

{% block content %}

  {% block menu %}
    {% include "menu.html" with current="home" %}
  {% endblock %}

  {% if not campaign %}
  <p>Start a campaign to receive feedback</p>
  <form action="{% url 'campaign' %}" method="POST" class="campaign-form">
    {% csrf_token %}
    <button type="submit">Create a campaign</button>
  </form>
  {% endif %}

  {% if not campaign %}
  {% else %}
	<h2><i class="fa fa-link"></i>Your campaign link</h2>
  <div style="display: flex; flex-direction: row; align-items: center">
  	<pre id="campaignLink" style="padding-left: 6px; padding-right: 4px;">{{ campaign.link }}</pre>
    <i id="clipboardButton" class="iconButton fa fa-clipboard" style="margin-left: 6px;" onclick="toClipboard()"></i>
  </div>

  <br/>
  <a class="qr_code" href="{% url 'campaign' %}{{campaign.id}}/qr">
    <div>{% autoescape off %}{{ qr_code }}{% endautoescape %}</div>
    <div style="margin-top: -14px; margin-bottom:9px;">Download</div>
  </a>
  <h2>Share:</h2>
  <a href="" class="disabled"><i class="fab fa-facebook"></i></a>
  <a href="" class="disabled"><i class="fab fa-google"></i></a>
  <a target="popup" href="{{campaign.linkedin}}"><i class="fab fa-linkedin"></i></a>
  <a href="" class="disabled"><i class="fab fa-twitter"></i></a>
  <a href="" class="disabled"><i class="fab fa-weixin"></i></a>
  <a href="{{ campaign.mailLink }}"><i class="fa fa-at"></i></a>
  <a href="{% url 'campaign' %}{{campaign.id}}/pdf"><i class="fa fa-file-pdf"></i></a>
	<hr />

	<h2><i class="fa fa-cog"></i>Settings</h2>
	<p>Valid until {{expiration_date}}</p>
  <form action="{% url 'campaign' %}{{campaign.id}}"  method="POST" class="campaign-form">
    {% csrf_token %}
    <p>Message</p>
    <textarea name="message" id="message" rows=5 required>{{campaign.message}}</textarea>
    <button type="submit">Update</button>
  </form>

  <input type="hidden" id="campaignId" name="campaign_id" value="{{ campaign.id }}">
  <button class="danger" onclick="deactivateCampaign()">Deactivate campaign</button>
  {% endif %}

  	<hr />

{% endblock %}
