{% extends 'account_frame.html' %}

{% block content %}

	<button href="{% url 'home' %}" class='active' type="submit">Settings</button>

	{% if not campaign %}
	<button class="disabled">Feedbacks</button>
	{% else %}
	<a href="{% url 'feedbacks' %}">
		<button>Feedbacks</button>
	</a>
	{% endif %}
	<a href="{% url 'feedbacks' %}">
		<button>Contribute</button>
	</a>

	<hr />

  {% if not campaign %}
  <p>You don't have any active campaign</p>
  <form method="POST" class="campaign-form">
    {% csrf_token %}
    <button type="submit">Create a campaign</button>
  </form>
  {% else %}
	<h2 class="icon fa-paste"><span class="label">Your feedback link</span>Your feedback link</h2>
	<pre style="padding-left: 6px; padding-right: 4px;">https://tftf.eu/feedback/{{ campaign.id }}</pre>
	<a style="cursor: url(static/download2.png), auto;" href="{% url 'campaign_qr' %}">{% autoescape off %}{{ qr_code }}{% endautoescape %}</a>

	<hr />

	<h2 class="icon fa-cog"><span class="label">Settings</span>Settings</h2>
	<p class="icon fa-calendar-times-o"><span class="label">Valid until</span>Valid until {{expiration_date}}</p>
  <p class="icon fa-comment"><span class="label">Feedback message</span>Feedback message</p>
  <form method="POST" class="campaign-form">
    {% csrf_token %}
    <textarea name="message" id="message" rows=5 required>{{campaign.message}}</textarea>
    <button type="submit">Update</button>
  </form>

  {% endif %}

  	<hr />

{% endblock %}
