{% extends 'account_frame.html' %}

{% block content %}

	<hr />

  {% if not campaign %}
  <p>You don't have any active campaign</p>
  <form method="POST" class="campaign-form">
    {% csrf_token %}
    <button type="submit">Create a campaign</button>
  </form>
  {% else %}
	<h2 class="icon fa-link"><span class="label">Your feedback link</span>Your feedback link</h2>
	<span>https://tftf.eu/feedback/{{ campaign.id }}</span><a href=""><span class="icon fa-paste"></span></a>

	<hr />

  <h2 class="icon fa-link"><span class="label">Update your form message</span>Update your form message</h2>
  <form method="POST" class="campaign-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update your message</button>
  </form>

  {% endif %}

  	<hr />

{% endblock %}
