<a href="{% url 'home' %}">
  {% if current == "home" %}
  <button class='active'>Campaign settings</button>
  {% else %}
  <button>Settings</button>
  {% endif %}
</a>


{% if campaign %}
<a href="{% url 'feedbacks' %}">
  {% if current == "feedbacks" %}
  <button class='active'>Feedbacks</button>
  {% else %}
  <button>Feedbacks</button>
  {% endif %}
</a>
{% else%}
  <button class='disabled'>Feedbacks</button>
{% endif %}

<a href="{% url 'account_logout' %}">
  <span style=" vertical-align: middle;" class="logout icon fa-power-off"></span>
</a>

<hr />
