<a href="{% url 'home' %}">
  {% if current == "home" %}
  <button class='active' type="submit">Settings</button>
  {% else %}
  <button type="submit">Settings</button>
  {% endif %}
</a>

<a href="{% url 'feedbacks' %}">
  {% if current == "feedbacks" %}
  <button class='active' type="submit">Feedbacks</button>
  {% else %}
  <button type="submit">Feedbacks</button>
  {% endif %}
</a>

<a href="{% url 'contribute' %}">
  {% if current == "contribute" %}
  <button class='active' type="submit">Contribute</button>
  {% else %}
  <button type="submit">Contribute</button>
  {% endif %}
</a>

<a href="{% url 'account_logout' %}">
  <span style=" vertical-align: middle;" class="logout icon fa-power-off"></span>
</a>

<hr />
